* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-primary: 'Roboto Condensed', sans-serif;
$color-primary: #343a40;
$color-secondary: #440277;
$color-terciary: #ffffff;
$color-letter-primary: #ffffff;
$color-letter-secondary: orange;
$padding: 50px 60px;


body {
    width: 100%;
    font-family: $font-primary;
    color: $color-terciary;
    background-image: url(../img/grunge-wall-texture.jpg);
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    filter: drop-shadow(0px 40px 5px black);
}

header {
    width: 100%;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


    .logo {
        width: 300px;
        height: 150px;
        background-image: url(../img/ac-logotp.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }

    nav {

        filter: drop-shadow(0px 20px 2px black);
        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;
            li {

                a {
                    text-decoration: none;
                    color: $color-letter-primary;
                    font-size: 20px;
                    padding: 7px 45px;
                    transition: all .35s ease;
                    font-weight: 300;
                    
                    &:hover{
                        color: orange;
                        text-shadow: 0px 0px 8px;
                    }
                }
            }
        }
    }

}


.main {
    width: 100%;
    height: 80vh;
    background-image: url(../img/galaxy-night-view.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 20px 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 0px 8px;
    text-align: center;

    h1 {
        color: $color-terciary;
        font-weight: 400;
        font-size: 5rem;
        margin-bottom: 40px;
        animation: fade 2s 0.5s ease-in-out both;
    }

    h2 {
        font-weight: 300;
        color: $color-letter-primary;
        font-size: 2.5rem;
        margin-bottom: 30px;
        animation: fade-2 2s 2.8s ease-in-out both;

        span {
            font-weight: 400;
            color: $color-letter-secondary;
        }
    }

    h3 {
        color: $color-letter-primary;
        font-weight: 300;
        font-size: 6vh;
        margin-bottom: 100px;
        position: relative;
        animation: fade-3 2s 4.5s ease-in-out both;
    }

    @keyframes fade {
        from {
            transform: translateX(-300px);
            opacity: 0;
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fade-2 {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fade-3 {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    img {
        width: 80px;
        animation: moving 1s infinite;
        filter: drop-shadow(0 15px 3px black);

        @keyframes moving {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(0);
            }
        }

       
    }
}

.about {
    width: 100%;
    padding: $padding;

    .about-wrapper {
        width: 100%;
        padding: $padding;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        img {
            width: 20rem;
            border-radius: 50%;
        }

        .about-text {
            width: 50%;
            text-align: justify;
            line-height: 1.5rem;
            font-weight: 300;
            font-size: 1.2rem;

            h4 {
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: 30px;
                letter-spacing: 5px;
                text-transform: uppercase;
            }
        }
    }
}

.skills {
    width: 100%;
    padding: $padding;
    background-color: $color-secondary;

    h2 {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 4px;
        text-shadow: 0px 0px 8px;
        text-transform: uppercase;
    }

    .skills-wrapper {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        img {
            width: 150px;
            filter: drop-shadow(0 70px 5px black);
            animation: float 4s ease-in-out infinite;
        }
    }

    @keyframes float {
        0%,100% {
            transform: translateY(0)
        }
        50% {
            transform: translateY(-20px);
        }
        
    }
}

.projects {
    width: 100%;
    background-color: $color-primary;

    h2 {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 4px;
        text-shadow: 0px 0px 8px;
        padding: 40px 0 40px 0;
        text-transform: uppercase;
    }

    .projects-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .project {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            img {
                width: 25rem;
                margin: 20px;
                border-radius: 10px;
                transition: all 0.5s ease;
    
                &:hover {
                    transform: scale(1.1);
                }
            }

            a {
                text-decoration: none;
                text-align: center;
                font-size: 16px;
                font-weight: 300;
                color: $color-terciary;
                transition: all 1s;
                letter-spacing: 5px;

                &:hover {
                    color: orange;
                    transform: scale(1.4);
                    
                }
            }
        }
    }
}

.contact {
    width: 100%;
    background-color: $color-secondary;

    h2 {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        letter-spacing: 4px;
        text-shadow: 0px 0px 8px;
        padding: $padding;
        text-transform: uppercase;
    }

    .form-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        form {
            width: 50%;
            margin: 0 auto;
            
            div {
                margin-bottom: 30px;

                label {
                    font-weight: 300;
                    font-size: 20px;
    
                    input {
                        width: 100%;
                        height: 3rem;
                        border-radius: 8px;
                        margin-top: 10px;
                        box-shadow: 0px 10px 30px black;
                        border-style: none;
                        padding: 30px 20px;

                        &:focus {
                            font-size: 16px;
                            outline: 0;
                        }
                    }
                }
            }

            .submit {
                width: 100%;
                padding: 10px;
                border-radius: 8px;
                border-style: none;
                box-shadow: 0px 10px 30px black;
                background-color: orange;
                font-size: 30px;
                font-weight: 400;
                font-family: $font-primary;
                color: $color-terciary;
                text-transform: uppercase;
                letter-spacing: 5px;
                border-style: none;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    border: 2px solid $color-terciary;
                }
            }
        }

    }
}