* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  background-image: url(../img/grunge-wall-texture.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

header {
  width: 100%;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header .logo {
  width: 300px;
  height: 150px;
  background-image: url(../img/ac-logotp.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
header nav {
  filter: drop-shadow(0px 20px 2px black);
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 7px 45px;
  transition: all 0.35s ease;
  font-weight: 300;
}
header nav ul li a:hover {
  color: orange;
  text-shadow: 0px 0px 8px;
}

.main {
  width: 100%;
  height: 80vh;
  background-image: url(../img/galaxy-night-view.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0px 0px 8px;
  text-align: center;
  flex-wrap: wrap;
}
.main .main-wrapper {
  width: 100%;
  margin: 0 auto;
}
.main .main-wrapper h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 5rem;
  margin-bottom: 40px;
  -webkit-animation: fade 2s 0.5s ease-in-out both;
          animation: fade 2s 0.5s ease-in-out both;
}
.main .main-wrapper h2 {
  font-weight: 300;
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 30px;
  -webkit-animation: fade-2 2s 2.8s ease-in-out both;
          animation: fade-2 2s 2.8s ease-in-out both;
}
.main .main-wrapper h2 span {
  font-weight: 400;
  color: orange;
}
.main .main-wrapper h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 6vh;
  margin-bottom: 100px;
  position: relative;
  -webkit-animation: fade-3 2s 4.5s ease-in-out both;
          animation: fade-3 2s 4.5s ease-in-out both;
}
@-webkit-keyframes fade {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade {
  from {
    transform: translateX(-300px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-3 {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-3 {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main .main-wrapper img {
  width: 80px;
  -webkit-animation: moving 1s infinite;
          animation: moving 1s infinite;
  filter: drop-shadow(0 15px 3px black);
}
@-webkit-keyframes moving {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moving {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.about {
  width: 100%;
  padding: 50px 60px;
}
.about .about-wrapper {
  width: 100%;
  padding: 50px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.about .about-wrapper img {
  width: 20rem;
  border-radius: 50%;
}
.about .about-wrapper .about-text {
  width: 50%;
  text-align: justify;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1.2rem;
}
.about .about-wrapper .about-text h4 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.skills {
  width: 100%;
  padding: 50px 60px;
  background-color: #440277;
  margin-bottom: 40px;
}
.skills h2 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px;
  text-transform: uppercase;
}
.skills .skills-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills .skills-wrapper img {
  width: 150px;
  filter: drop-shadow(0 70px 5px black);
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
}
@-webkit-keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.projects {
  width: 100%;
}
.projects h2 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px;
  padding: 40px 0 40px 0;
  text-transform: uppercase;
}
.projects .projects-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projects .projects-wrapper .project {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  filter: drop-shadow(0 20px 10px black);
}
.projects .projects-wrapper .project img {
  width: 70%;
  margin: 40px;
  border-radius: 10px;
}
.projects .projects-wrapper .project a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  transition: all 1s;
  letter-spacing: 5px;
}
.projects .projects-wrapper .project:hover {
  transform: scale(1.1);
}

.contact {
  width: 100%;
  padding: 40px 0;
}
.contact h2 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 0px 0px 8px;
  padding: 50px 60px;
  text-transform: uppercase;
}
.contact .form-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact .form-wrapper form {
  width: 50%;
  margin: 0 auto;
}
.contact .form-wrapper form div {
  margin-bottom: 30px;
}
.contact .form-wrapper form div label {
  font-weight: 300;
  font-size: 20px;
}
.contact .form-wrapper form div label input {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 10px 30px black;
  border-style: none;
  padding: 30px 20px;
}
.contact .form-wrapper form div label input:focus {
  font-size: 16px;
  outline: 0;
}
.contact .form-wrapper form div label input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
}
.contact .form-wrapper form div label input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 300;
}
.contact .form-wrapper form div label input::placeholder {
  font-size: 18px;
  font-weight: 300;
}
.contact .form-wrapper form div label .message {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 10px 30px black;
  border-style: none;
  padding: 15px 16px;
  resize: none;
}
.contact .form-wrapper form div label .message:focus {
  font-size: 16px;
  outline: 0;
}
.contact .form-wrapper form div label .message::-moz-placeholder {
  font-size: 22px;
  font-weight: 300;
}
.contact .form-wrapper form div label .message:-ms-input-placeholder {
  font-size: 22px;
  font-weight: 300;
}
.contact .form-wrapper form div label .message::placeholder {
  font-size: 22px;
  font-weight: 300;
}
.contact .form-wrapper form .submit {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 10px 30px black;
  background-color: orange;
  font-size: 30px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-style: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contact .form-wrapper form .submit:hover {
  border: 2px solid #ffffff;
}

.footer {
  background-color: #343a40;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.footer .icon-wrapper {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer .icon-wrapper img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.footer .icon-wrapper a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 4px;
}

@media (max-width: 912px) {
  header {
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  header .logo {
    width: 400px;
    margin-bottom: 0;
  }
  header nav {
    display: none;
  }
  .main {
    padding: 20px 30px;
  }
  .about .about-wrapper img {
    width: 25rem;
    border-radius: 20%;
    margin-bottom: 60px;
  }
  .about .about-wrapper .about-text {
    width: 100%;
    line-height: 2rem;
    font-size: 1.7rem;
  }
  .about .about-wrapper .about-text h4 {
    text-align: center;
  }
  .skills .skills-wrapper img {
    width: 180px;
  }
  .projects .projects-wrapper .project {
    flex-direction: column;
  }
  .projects .projects-wrapper .project img {
    width: 35rem;
    margin: 40px;
    border-radius: 10px;
  }
  .projects .projects-wrapper .project a {
    font-size: 22px;
  }
  .contact .form-wrapper {
    padding: 0 80px;
  }
  .contact .form-wrapper form {
    width: 100%;
  }
  .contact .form-wrapper form div {
    margin-bottom: 40px;
  }
  .contact .form-wrapper form div label input::-moz-placeholder {
    font-size: 20px;
  }
  .contact .form-wrapper form div label input:-ms-input-placeholder {
    font-size: 20px;
  }
  .contact .form-wrapper form div label input::placeholder {
    font-size: 20px;
  }
  .footer {
    background-color: #343a40;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .footer .icon-wrapper {
    justify-content: center;
    margin-top: 40px;
  }
  .footer .icon-wrapper img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 540px) {
  header {
    margin: 10px 0;
  }
  header .logo {
    width: 300px;
    margin-bottom: 0;
  }
  header nav {
    display: none;
  }
  .main .main-wrapper {
    flex-wrap: wrap;
    height: 100vh;
  }
  .main .main-wrapper h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .main .main-wrapper h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
  }
  .main .main-wrapper h3 {
    font-size: 30px;
  }
  .about .about-wrapper {
    padding: 10px;
  }
  .about .about-wrapper img {
    width: 25rem;
    border-radius: 20%;
    margin-bottom: 60px;
  }
  .about .about-wrapper .about-text {
    width: 100%;
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: center;
  }
  .about .about-wrapper .about-text h4 {
    text-align: center;
  }
  .skills h2 {
    margin-bottom: 40px;
  }
  .skills .skills-wrapper {
    height: 100vh;
    justify-content: space-around;
  }
  .skills .skills-wrapper img {
    width: 40%;
  }
  .projects .projects-wrapper .project {
    flex-direction: column;
  }
  .projects .projects-wrapper .project img {
    width: 25rem;
    margin: 40px;
    border-radius: 10px;
  }
  .projects .projects-wrapper .project a {
    font-size: 22px;
  }
  .contact .form-wrapper {
    padding: 0 80px;
  }
  .contact .form-wrapper form {
    width: 100%;
  }
  .contact .form-wrapper form div {
    margin-bottom: 40px;
  }
  .contact .form-wrapper form div label input::-moz-placeholder {
    font-size: 20px;
  }
  .contact .form-wrapper form div label input:-ms-input-placeholder {
    font-size: 20px;
  }
  .contact .form-wrapper form div label input::placeholder {
    font-size: 20px;
  }
  .footer {
    background-color: #343a40;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .footer .icon-wrapper {
    justify-content: center;
    margin-top: 40px;
  }
  .footer .icon-wrapper img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 412px) {
  .about {
    padding: 40px;
  }
  .about .about-wrapper {
    align-items: center;
    justify-content: center;
  }
  .about .about-wrapper img {
    width: 15rem;
  }
  .about .about-wrapper .about-text {
    padding: 20px;
    text-align: justify;
  }
  .projects {
    width: 100%;
    padding: 20px;
  }
  .projects .projects-wrapper {
    width: 100%;
    padding: 20px;
  }
  .projects .projects-wrapper .project {
    width: 100%;
  }
  .projects .projects-wrapper .project img {
    width: 90%;
  }
  .contact {
    padding: 0;
  }
  .contact .form-wrapper {
    padding: 20px;
  }
  .contact .form-wrapper form {
    width: 90%;
  }
  .footer {
    justify-content: center;
    width: 100%;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */